<html ng-app="CoffeemateWebApp" >
<head>
    <title>Coffeemate Web App</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
    <link rel="stylesheet"  type="text/css" href="stylesheets/style.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer>
    </script>
    <script src="https://apis.google.com/js/client:platform.js" async defer>
    </script>

    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/maincontroller.js"></script>
    <script src="/javascripts/controllers/coffeematecontroller.js"></script>
    <script src="/javascripts/controllers/coffeematescontroller.js"></script>
    <script src="/javascripts/controllers/aboutcontroller.js"></script>
    <script src="/javascripts/controllers/contactcontroller.js"></script>
    <script src="/javascripts/controllers/editcontroller.js"></script>
    <script src="/javascripts/controllers/registercontroller.js"></script>
    <script src="/javascripts/controllers/logincontroller.js"></script>
    <script src="/javascripts/controllers/commentcontroller.js"></script>
    <script src="/javascripts/controllers/addcomcontroller.js"></script>

    <style> .glyphicon-thumbs-up { cursor:pointer } </style>

</head>

  <body ng-controller="mainController">
<!-- NAVBAR -->
        
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/"><i class="fa fa-coffee fa-lg" style="color: white;"></i> Coffeemate Web App</a>
                </div>
            
                <ul class="nav navbar-nav navbar-right">
                  <div class="navbar-right">
              <a href="#/register"><button type="button" class="btn btn-default navbar-btn btn-success" ng-style="display_register()">Register</button></a>
              <a href="#/login"><button type="button" class="btn btn-default navbar-btn btn-primary" ng-style="display_login()">Log In</button></a>
                      <button type="button" class="btn btn-default navbar-btn btn-danger"  ng-click="logout()" ng-style="display_logout()">Log Out</button>
           </div>
                    <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#coffeemate" ng-style="display_logout()" ><i class="fa fa-plus-circle"></i>Add Coffeemate</a></li>
                    <li><a href="#coffeemates"><i class="fa fa-list"></i> View All Coffeemates</a></li>
                    <li><a href="#about"><i class="fa fa-info"></i> About</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
                </ul>

            </div>
            </nav>
       
 <div id="main">

  <div ng-view></div>

</div>
</body>
</html>